@import "tailwindcss";

@theme {
  --color-*: initial;
  /* --color-surface: hsl(0 0 0); */
  /* --color-elevated: hsl(0 0 10); */
  /* --color-highlight: hsl(0 0 20); */
  /* --color-base: hsl(0 0 95); /* base text colors */
  /* --color-muted: hsl(0 0 70); /* muted text color */

  --color-bg-dark: hsl(0 0% 0%);
  --color-bg: hsl(0 0% 10%);
  --color-bg-light: hsl(0 0% 20%);
  --color-text: hsl(0 0% 95%);
  --color-text-muted: hsl(0 0% 70%);
  --color-border: hsl(0 0% 20%);
  --color-highlight: hsl(0 0% 30%);

  --color-primary: hsl(269, 100%, 56%);
  --color-primary-dark: hsl(269, 100%, 46%);

  /* --color-secondary:  	hsl(181, 79%, 54%); */
  /* --color-secondary-dark:  	hsl(181, 79%, 44%); */

  /* --color-bg-dark: hsl(0 0% 90%); */
  /* --color-bg: hsl(0 0% 95%); */
  /* --color-bg-light: hsl(0 0% 100%); */
  /* --color-text: hsl(0 0% 5%); */
  /* --color-text-muted: hsl(0 0% 30%); */
}

@layer components {
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0); /* Start transparent */
    transition: background-color 0.3s ease-in-out;
  }

  dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Fade to semi-transparent black */
  }
}


dialog {
  opacity: 0;
  transition: opacity 150ms cubic-bezier(0.35, 0, 0.2, 1);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .8);
}

dialog.active {
  opacity: 1;
}

dialog::backdrop {
  display: none;
}
