@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-surface: hsl(0 0 0);
  --color-elevated: hsl(0 0 10);
  --color-highlight: hsl(0 0 20);
  --color-base: hsl(0 0 95); /* base text colors */
  --color-muted: hsl(0 0 70); /* muted text color */
}

